.table-drag-select-enable {
  width: 100%;
  height: 90%;
  /* Keep columns same width */
  table-layout: fixed;
  /* Disable text selection */
  user-select: none;
  /* Remove space between border */
  border-collapse: collapse;
  font-size: xx-small;
}

/* Table cells */
.table-drag-select-enable td {
  text-align: center;
  /* Cut off long strings of text with ... */
  text-overflow: ellipsis;
  overflow: hidden;
  /* Make transparent gaps between cells. Better than relying on margin
     * because clicking an element's margin doesn't trigger events */
  border: 1px solid transparent;
  background-clip: padding-box;
  border-radius: 3px;
}

/* Cells that can be interacted with */
.table-drag-select-enable td.cell-enabled {
  background-color: #d3f0c5;
  /* Make the cursor a + symbol */
  cursor: cell;
}

.table-disabled td.cell-enabled {
  cursor: default;
}

/* Cells that cannot be interacted with */
.table-drag-select-enable td.cell-disabled {
  /* Put yer css here */
  background-color: #002c43;
  color: #fff;
  position: sticky;
  left: 0;
}

.table-drag-select-enable .week-days.cell-disabled {
  /* Put yer css here */
  background-color: #f5f5f5;
}

/* Cells that have been selected */
.table-drag-select-enable td.cell-selected {
  background-color: #32963b;
}

/* Cells that are in the process of being selected */
.table-drag-select-enable td.cell-being-selected {
  /* This is the blue color you see when you select text with the cursor */
  background-color: #3aa443;
}
